body {
    background-color: #111;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#settingsPanel {
    margin: auto;
}

#board {
    background-color: #111;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin: auto;
}

.square {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #333;
    transition: all 2s;
}

.square:hover {
    transition: all 0s;
}