body {
    background-color: #111;
    margin: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

#board {
    background-color: #111;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.square {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #333;
}

.circle {
    border-radius: 50%;
}